@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-color: rgb(213, 185, 150);
    padding: 0;

    nav {
        div {
            img {
                width: 100px;
                height: 100px;
            }

            p {
                color: rgb(0, 0, 0);
                font-size: 2.5rem;
            }
        }

        ul {
            background-color: rgb(213, 185, 150);
        }

    }

}


.carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    p {
        color: rgb(158, 6, 6);
    }
}

footer {
    background-color: rgb(213, 185, 150);
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    min-height: 50px;
    padding-top: 10px;
}